:host{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  margin-top: 2rem;

  button {
    padding: 2px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    color: #fff;
    background-color: #000;

    transition: transform 0.2s ease;

    &:not(:disabled):hover {
      background-color: #323232;
      transform : scale(1.1);
    }

    &:disabled {
      background-color: #e0e0e0;
      color: #999;
      cursor: not-allowed;
    }
  }
}

@media (max-width: 900px) {
  :host {
    margin-top: 0;

    padding-top: 1rem;
  }
}
