<header  class="header-container">
  <div class="logo-container">
    <img src="assets/logo.jpg" alt="teste" class="logo">
    <h1>BiblioteCAT</h1>
  </div>
  <nav class="nav-container">
    <span>|</span>
    <a routerLink="/about" routerLinkActive="active-link">{{ "HEADER.NAV.OPTION_1" | translate }}</a>
    <span>|</span>
    <a routerLink="/home" routerLinkActive="active-link">{{ "HEADER.NAV.OPTION_2" | translate }}</a>
    <span>|</span>
    <a routerLink="/wishlist" routerLinkActive="active-link">{{ "HEADER.NAV.OPTION_3" | translate }}</a>
  </nav>
  <button (click)="toggleLanguage()">LAN</button>
</header>
