<main class="about-container">
  <h1>BibliotecaT</h1>

  <section>
    <p [innerHTML]="'ABOUT.SECTIONS.INTRODUCTION' | translate"></p>
  </section>

  <section>
    <h2><lucide-icon name="cat"></lucide-icon>
      {{ "ABOUT.SECTIONS.CAT_BUTTON.TITLE" | translate }}</h2>
    <img src="assets/cat-button.jpg" alt="Illustration of the cat button">
    <p>
      {{ "ABOUT.SECTIONS.CAT_BUTTON.TEXT" | translate }}
    </p>
  </section>

  <section>
    <h2><lucide-icon name="search"></lucide-icon>{{ "ABOUT.SECTIONS.SEARCH_INPUT.TITLE" | translate }}</h2>
    @if (window.innerWidth > 900) {
      <img src="assets/search-input.jpg" alt="Search input example">
    } @else {
      <img src="assets/search-input-phone.jpg" alt="Search input example">
    }

    <p>
      {{ "ABOUT.SECTIONS.SEARCH_INPUT.TEXT" | translate }}
    </p>
  </section>

  <section class="about-footer">
    <p [innerHTML]="'ABOUT.SECTIONS.FOOTER.TEXT' | translate">
    </p>
    <p class="credits">Made with <lucide-icon name="cat" size="18"></lucide-icon> by &#64;eriksgda</p>
  </section>
</main>
