<form (submit)="onSubmit($event)" class="book-input">
  <button
    class="cat-button"
    title="if pressed, you will search as a cat..."
    type="button"
    (click)="toggleCatButton()"
    [class.active]="isClicked"
  >
    <lucide-icon name="Cat" size="32"></lucide-icon>
  </button>
  <input
    type="text"
    placeholder="Type a book name to search..."
    [value]="bookQuery()"
    (input)="bookQuery.set($any($event.target).value)"
  />

  <select
    [value]="searchType()" [disabled]="isSearchDisabled()"
    (change)="searchType.set($any($event.target).value)"
  >
    <option value="title">Title</option>
    <option value="subject">Subject</option>
    <option value="author">Author</option>
  </select>

  <button class="search-button" type="submit" [disabled]="isSearchDisabled()">Search</button>
</form>
