<form (submit)="onSubmit($event)" class="book-input">
  <input
    type="text"
    [placeholder]="'HOME.BOOK_INPUT.INPUT.PLACEHOLDER' | translate"
    [value]="bookQuery()"
    (input)="bookQuery.set($any($event.target).value)"
  />

  <div class="action-buttons">
    <button
      class="cat-button"
      [title]="'HOME.BOOK_INPUT.CAT_BUTTON.TITLE' | translate"
      type="button"
      (click)="toggleCatButton()"
      [class.active]="isClicked"
    >
      <lucide-icon name="Cat" size="32"></lucide-icon>
    </button>


    <select
      [value]="searchType()" [disabled]="isSearchDisabled()"
      (change)="searchType.set($any($event.target).value)"
    >
      <option value="title">{{ "HOME.BOOK_INPUT.SELECT.OPTION_1" | translate }}</option>
      <option value="subject">{{ "HOME.BOOK_INPUT.SELECT.OPTION_2" | translate }}</option>
      <option value="author">{{ "HOME.BOOK_INPUT.SELECT.OPTION_3" | translate }}</option>
    </select>

    <button
      class="search-button"
      type="submit"
      [disabled]="isSearchDisabled()"
    >
      {{ "HOME.BOOK_INPUT.SUBMIT_BUTTON" | translate }}
    </button>
  </div>
</form>
