<app-header></app-header>

<main>
  <app-book-input (valueSubmit)="onValueReceived($event)"></app-book-input>

  @if (books().length !== 0) {
    <div class="books-container">
      @for (book of books(); track book.key) {
        <app-simple-card
          [title]="book.title"
          [author_name]="book.author_name[0]"
          [first_publish_year]="book.first_publish_year"
          [cover_i]="book.cover_i"
        ></app-simple-card>
      }
    </div>

    <div class="pagination">
      <button (click)="firstPage()" [disabled]="currentPage() === 1"> <<- </button>
      <button (click)="prevPage()" [disabled]="currentPage() === 1"> <- </button>
      <span>{{ currentPage() }}</span>
      <button (click)="nextPage()" [disabled]="currentPage() === MAX_PAGE"> -> </button>
      <button (click)="lastPage()" [disabled]="currentPage() === MAX_PAGE"> ->> </button>
    </div>
  }
</main>
