<main>
  <app-book-input (valueSubmit)="onValueReceived($event)"></app-book-input>

  @if (books().length !== 0) {
    <div class="books-container" #booksContainer>
      @for (book of books(); track book.key) {
        <app-simple-card
          [rawBook]="book"
          (click)="onBookClick(book)"
        ></app-simple-card>
      }
    </div>

    <app-pagination
      (pageChanged)="onPageChange($event)"
      [currentPage]="currentPage"
    ></app-pagination>
  }

  @if (isVisible && bookDetails && authorDetails) {
    <div class="overlay" (click)="closeModal()"></div>
    <app-card-details
      [book]="bookDetails"
      [author]="authorDetails"
      [year]="year"
      (close)="closeModal()"
    ></app-card-details>
  }


</main>
